$texto-base: #333333;

.about-section {
  padding-top: 32px !important;
  padding-bottom: 48px !important;

  h2 {
    color: var(--var-negro);
    position: relative;
    font-size: 40px;
    font-family: "Roboto Slab";

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: var(--var-verde);
      bottom: -12px;
      left: calc(50% - 20px);
      border-radius: 2px;
    }
  }

  .about-text {
    font-family: "Open Sans", sans-serif;
    color: $texto-base;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 18px;
  }
}
