<div class="container mt-5 px-4 py-4 mb-5">
  <section class="about-section mb-4">
    <h1 class="mb-4">What can I do to help?</h1>
    <div class="row">
      <div class="col-md-10 col-lg-12">
        <p class="about-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </section>

  <div class="ayuda-grid">
    <div class="ayuda-card">
      <div class="card-logo-wrapper">
        <a href="https://www.rewild.org/" target="_blank"
          ><img src="assets/icons/paginasAyuda/rewild.png" alt="Re:wild"
        /></a>
      </div>
      <p class="card-text">
        Founded by a group of renowned conservation scientists together with
        Leonardo DiCaprio and combining more than 35 years of conservation
        impact, Re:wild is a force multiplier that brings together Indigenous
        peoples, local communities, influential leaders, nongovernmental
        organizations, governments, companies, and the public to protect and
        rewild at the scale and speed we need.
      </p>
    </div>

    <div class="ayuda-card">
      <div class="card-logo-wrapper">
        <a href="https://www.wcs.org/" target="_blank"
          ><img src="assets/icons/paginasAyuda/WCS.png" alt="WCS"
        /></a>
      </div>
      <p class="card-text">
        WCS saves wildlife and wild places worldwide through science,
        conservation action, education, and inspiring people to value nature.
        WCS envisions a world where wildlife thrives in healthy lands and seas,
        valued by societies that embrace and benefit from the diversity and
        integrity of life on earth.
      </p>
    </div>

    <div class="ayuda-card">
      <div class="card-logo-wrapper">
        <a href="https://www.worldwildlife.org/" target="_blank"
          ><img src="assets/icons/paginasAyuda/WWF.png" alt="WWF"
        /></a>
      </div>
      <p class="card-text">
        World Wild Life mission is to build a future in which people live in
        harmony with nature. To deliver this mission, we work to conserve and
        restore biodiversity, the web that supports all life on Earth; to reduce
        humanity's environmental footprint; and to ensure the sustainable use of
        natural resources to support current and future generations.
      </p>
    </div>

    <div class="ayuda-card">
      <div class="card-logo-wrapper">
        <a href="https://www.rainforesttrust.org/" target="_blank">
          <img
            src="assets/icons/paginasAyuda/RainforestTrust.png"
            alt="Rainforest Trust"
        /></a>
      </div>
      <p class="card-text">
        Rainforest Trust was founded in 1988 as the World Parks Endowment to
        save endangered species by creating new parks and reserves in the
        tropics, where most of the world’s biodiversity is found.​
      </p>
    </div>

    <div class="ayuda-card">
      <div class="card-logo-wrapper">
        <a href="https://www.awf.org/" target="_blank">
          <img
            src="assets/icons/paginasAyuda/AfricanFoundation.png"
            alt="African Wildlife Foundation"
        /></a>
      </div>
      <p class="card-text">
        For 60 years, African Wildlife Foundation has been ahead of the curve in
        developing innovative conservation strategies so wildlife, wild lands,
        and people can thrive. Our approach is uniquely comprehensive,
        addressing not only direct threats to wildlife like poaching and habitat
        loss, but also working with communities and governments to ensure that
        African conservation is truly African owned and led.
      </p>
    </div>

    <div class="ayuda-card">
      <div class="card-logo-wrapper">
        <a href="https://www.fauna-flora.org/" target="_blank">
          <img
            src="assets/icons/paginasAyuda/FaunaFlora.png"
            alt="Fauna & Flora"
        /></a>
      </div>
      <p class="card-text">
        Fauna & Flora works in nearly 50 countries around the world, on more
        than 120 projects that aim to save nature, together with our
        conservation partners. From saving saiga and gorillas, to restoring
        nature-depleted islands and protecting seagrass meadows, we have a track
        record of conservation success. And, while we apply our expertise and
        experience to all areas of our work, no two projects are ever the same.
      </p>
    </div>
  </div>
</div>
